<div class="article-author">
    <div class="avatar">
    <img width="50" height="50" src="{{ site.author_avatar }}" alt="{{ post.author }} Avatar"/>
    </div>
    <div class="name">
        <h4>Assembled by <b>{{ site.author }}</b> </h4>
        Software Developer at Google Chromium.
    </div>
</div>
<div>
    <a href="https://twitter.com/pykello" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @pykello</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>
